@tailwind base;
@tailwind components;
@tailwind utilities;

.title{
  color: #49DBC8;
  text-align: center;
  text-shadow: 0px 8px 0px #000;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}

.subtitle{
  color: #000;
text-align: center;
/* Headline/Regular/H6 */
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 140% */
}

button{
  border-radius: 8px;
  border: 1px solid #000;
  background: #fff;
  box-shadow: 4px 4px 0px 0px #000;
  width: 178px;
  height: 46px;
  padding: 10px 28px;
  gap: 8px;
  flex-shrink: 0;
  font-weight: bold;
  margin-top: 30px;
  cursor :pointer;
}

.button{
  border-radius: 8px;
  background: #fff;
  padding: 5px 14px;
  flex-shrink: 0;
  font-weight: bold;
  cursor :pointer;

}

.button p{
  border-radius: 8px;
  border: 1px solid #000;
  background: #fff;
  padding: 5px 14px;
  flex-shrink: 0;
  font-weight: bold;
}
.rotatebutton{
  border-radius: 28px;
border: 1px solid #000;
background: #CEFF1A;
display: inline-flex;
padding: 14px 32px;
justify-content: center;
align-items: center;
gap: 8px;
box-shadow: 4px 4px 0px 0px #000;
color: #000;

text-align: center;
/* Headline/Medium/H6 */
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 28px; /* 140% */
}

.boxService{
  border-radius: 24px;
border: 1px solid #000;
/* max-width: 380.9104px;
max-height: 240.9792px; */
flex-shrink: 0;
background: var(--white-white, #FFF);
box-shadow: 6px 6px 0px 0px #000;
}

.boxServiceStart{
  border-radius: 24px;
border: 1px solid #000;
flex-shrink: 0;
box-shadow: 6px 6px 0px 0px #000;
overflow: hidden;
background-color: #fff
}


.contenedorSeparador{
  display: inline-flex;
  padding: 2px 32px;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: 100%;
}

.workSans{
font-family: Work Sans;

}

.dot-spinner {
  --uib-size: 2.8rem;
  --uib-speed: .9s;
  --uib-color: #183153;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--uib-size);
  width: var(--uib-size);
}

.dot-spinner__dot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.dot-spinner__dot::before {
  content: '';
  height: 20%;
  width: 20%;
  border-radius: 50%;
  background-color: var(--uib-color);
  transform: scale(0);
  opacity: 0.5;
  animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
  box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
}

.dot-spinner__dot:nth-child(2) {
  transform: rotate(45deg);
}

.dot-spinner__dot:nth-child(2)::before {
  animation-delay: calc(var(--uib-speed) * -0.875);
}

.dot-spinner__dot:nth-child(3) {
  transform: rotate(90deg);
}

.dot-spinner__dot:nth-child(3)::before {
  animation-delay: calc(var(--uib-speed) * -0.75);
}

.dot-spinner__dot:nth-child(4) {
  transform: rotate(135deg);
}

.dot-spinner__dot:nth-child(4)::before {
  animation-delay: calc(var(--uib-speed) * -0.625);
}

.dot-spinner__dot:nth-child(5) {
  transform: rotate(180deg);
}

.dot-spinner__dot:nth-child(5)::before {
  animation-delay: calc(var(--uib-speed) * -0.5);
}

.dot-spinner__dot:nth-child(6) {
  transform: rotate(225deg);
}

.dot-spinner__dot:nth-child(6)::before {
  animation-delay: calc(var(--uib-speed) * -0.375);
}

.dot-spinner__dot:nth-child(7) {
  transform: rotate(270deg);
}

.dot-spinner__dot:nth-child(7)::before {
  animation-delay: calc(var(--uib-speed) * -0.25);
}

.dot-spinner__dot:nth-child(8) {
  transform: rotate(315deg);
}

.dot-spinner__dot:nth-child(8)::before {
  animation-delay: calc(var(--uib-speed) * -0.125);
}

@keyframes pulse0112 {
  0%,
  100% {
    transform: scale(0);
    opacity: 0.5;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }
}


.faqsContainer{
box-shadow: 4px 4px 0px 0px #000;
border: 2px solid black;
border-radius: 24px;
margin-bottom: 20px;

}

.faqsContainer > :first-child{
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
}

.faqChildren{
  border-bottom: 2px solid black;
}

.faqsContainer > :last-child{
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
}

.socialMedia{
  height: 48px;
  width: 48px;
  margin: 10px;
}


.efecto{
  border: 1px solid #000;

  background: var(--white-white, #FFF);
  box-shadow: 4px 4px 0px 0px #000;

}

.medidas{
height: 48px;
width: 48px;
}